<li class="itemdetalle">
	<div class="row">
		<div class="col-xs-6"><span class="info-tag">item 1</span></div>
		<div class="col-xs-6 text-right"><span class="info-tag">no adjudicada</span></div>
	</div>

	<div class="adj-detail">
		<div>
			<span class="value">100</span>
			<p>unidades</p>
		</div>
		<div>
			<p>Equipo de oxigenoterapia manómetro, rango 0-400 LT por pulgadas 2, con humificador y flujómetro de 0 a 15 lt por minuto.</p>
		</div>
	</div>

	<div class="panel panel-grey">

<!-- 	<div class="empty-placeholder">
			<h4 class="text-center" style="font-weight: 300; opacity: .5;">
				El item no fue adjudicado
			</h4>
		</div> -->

		<div class="panel-body">			
			<span class="info-tag">Vendedor</span>
			<h4 class="collapsable-text">Comercial Brunner & Brunner</h4>
			<p class="org-name">RUT: 76.189.381-5</p>

			<div class="flex-wrapper grey-bck">
				<div class="info-box">
					<span class="value small">100</span>
					<p>cantidad adjudicada</p>
				</div>
				<div class="info-box text-center text-resp">
					<span class="value small">215</span>
					<p>precio unitario</p>
				</div>
				<div class="info-box text-right text-resp">
					<span class="value small clp">21.500</span>
					<p>monto total</p>
				</div>
			</div>
		</div>

		<table class="table postulant-list bo">
			<thead>
				<td class="no-radius">Proveedor</td>
				<td>Precio Unitario</td>
				<td>Cantidad Adjudicada</td>
				<td class="no-radius">Total</td>
			</thead>
			<tbody>
				<tr>
					<td>Comercializadora McKenzie</td>
					<td><span class="clp">1205</span></td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Comercializadora McKenzie</td>
					<td><span class="clp">1205</span></td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Comercializadora McKenzie</td>
					<td><span class="clp">1205</span></td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Comercializadora McKenzie</td>
					<td><span class="clp">1205</span></td>
					<td>0</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>

		<div class="panel-footer transparent no-padding">
			<div class="btn text-center bo-btn">Ver resto de postulantes <i class="fa fa-angle-down"></i></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<span class="label-tag pull-right">TOTAL NETO: <em class="clp">21500</em></span>
		</div>

	</div>



</li>