<div class="search-result-item">
	<h4 class="collapsable-text"><a href="" class="long-text">LINDE GAS CHILE S.A.</a></h4>
	<p class="org-name inline">AGA S.A. HEALTCARE CONCEPCION</p>
	<p class="org-name inline">90.100.000-K</p>
	<p class="lic-des">PDTE ERRAZURIZ 2631, 4to PISO PROVIDENCIA, Providencia, Región Metropolitana</p>
</div>