<div class="search-result-item">
	<h4 class="collapsable-text"><a href="" class="long-text">Hospital Til-Til</a></h4>
	<p class="org-name inline">Unidad Hospital Til-Til</p>
	<p class="org-name inline">61.608.006-7</p>
	<p class="lic-des">Daniel Moya 100, Til-Til, Región Metropolitana</p>
</div>