<footer class="footer">
	<div class="container">
		<nav class="navbar navbar-inverse">
    		<div id="toTop" class="btn btn-info pull-right"><i class="fa fa-angle-up"></i></div>
    		<p>Aquí debiera ir información</p>
    	</nav>
	</div>
</footer>